*{padding: 0;margin: 0;}
body
 {background-image: url(fondo.png);
    background-size: cover;}

.loser {font-size: 30px;position: absolute;left: 16%;top: 20%;transform: rotate(-20deg);z-index: 2;
    animation-name:texto; animation-duration: 2s; 
    animation-iteration-count: infinite;font-family:'Anton', sans-serif;color: #B1D7D3;letter-spacing: 0.1em;
    -webkit-text-stroke: 1px white}
@keyframes texto 
{
    0%{font-size: 30px;} 
    100% {font-size: 45px}
}
.info {width: 60%;padding: auto; margin:10% auto 10% auto;text-align: center; background-color: #E9A7A7; border: 4px solid #C5E5E0;
    display: flex; flex-direction: row;position: absolute; left: 20%;z-index: 1;font-family: 'Montserrat', sans-serif;}

.info h2 {padding-top: 15%;}
.info h3 {padding-bottom: 10%;padding-left: 20%;}
.info h1 {padding-top: 5%;padding-bottom: 5%;}

.redonda {width:300px; height:300px; border-radius:150px; }
    
.play {width: 30%;position: absolute;left: 36.5%;bottom: 10%;}
.onda {width: 100%;}
.play h3 {text-align: center;font-family: 'Montserrat', sans-serif;font-size: 20px;}
.boton {position: absolute; left: 40%;}

.footer {width: 20%;margin-left: 80%;}
.firma {position: absolute; ;width: 20%; }

.auriverde {position: absolute;left: 5%;top: 5%;animation-name:auri; animation-duration: 6s; animation-iteration-count: infinite;}
@keyframes auri 
{
    0%{top: 10%;opacity: 100%;} 
    80% {opacity: 100%;}
    100% {top: 50%; opacity: 0%;}
}

.guitaverde {position: absolute; left: 45%;top: 8%;animation-name:guita; animation-duration: 6s; animation-iteration-count: infinite;}
@keyframes guita 
{
    0%{top: 5%;opacity: 100%;} 
    80% {opacity: 100%;}
    100% {top: 60%;opacity: 0%;}
}
.notaverde {position: absolute; top: 40%; left: 25%;animation-name:nota; animation-duration: 6s; animation-iteration-count: infinite;}
@keyframes nota 
{
    0%{top:0%;opacity: 100%;} 
    80% {opacity: 100%;}
    100% {top: 80%;opacity: 0%;}
}
.microverde {position: absolute; top: 75%; left: 35%;animation-name:micro; animation-duration: 6s; animation-iteration-count: infinite;}
@keyframes micro 
{
    0%{top: 5%;opacity: 100%;} 
    80% {opacity: 100%;}
    100% {top: 80%;opacity: 0%;}
}
.claveverde {position: absolute;top: 90%; left: 15%;animation-name:clave; animation-duration: 6s; animation-iteration-count: infinite;
}
@keyframes clave 
{
    0%{top: 5%;opacity: 100%;} 
    80% {opacity: 100%;}
    100% {top: 80%;opacity: 0%;}
}



.aurirosa {position: absolute; left: 55%; top: 5%;animation-name:micro; animation-duration: 6s; animation-iteration-count: infinite;}


.guitarosa {position: absolute;left: 90%;top: 8%;animation-name:auri; animation-duration: 6s; animation-iteration-count: infinite;}
  

.notarosa {position: absolute;left: 75%;top: 40%;animation-name:clave; animation-duration: 6s; animation-iteration-count: infinite;}

.microrosa {position: absolute;left: 85%;top: 75%;animation-name:guita; animation-duration: 6s; animation-iteration-count: infinite;}

.claverosa {position: absolute;left: 65%;top: 90%;animation-name:nota; animation-duration: 6s; animation-iteration-count: infinite;}


